<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
	<!--<connectionStrings>
		--><!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Anmat.Server.Web-20150423234302;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Anmat.Server.Web-20150423234302.mdf" providerName="System.Data.SqlClient" />--><!--
		--><!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:wiabm0znyf.database.windows.net,1433;Database=anmatdata;User ID=anmatadmin@wiabm0znyf;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />--><!--
	</connectionStrings>-->
  <!--<appSettings>
    <add key="AnmatDataServiceUrl" value="http://localhost:8000/" />
    <add key="DocumentsPath" value="%PATH%\Anmat" />
    <add key="TargetDatabaseName" value="anmat" />
    <add key="TargetMedicinesTableName" value="medicamentos" />
    <add key="TargetActiveComponentsTableName" value="principios_activos" />
    <add key="ReplaceExistingTargetDatabase" value="true" />
    <add key="FullInitialize" value="false" />
		<add key="DefaultCulture" value="es-AR" />
    <add key="DefaultTextEncoding" value="ISO-8859-1" />
  </appSettings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>