@model IList<Anmat.Server.Core.Data.DataGenerationJob>
@using GridMvc.Html;
@using Anmat.Server.Core.Data;

@{
    ViewBag.Title = "Historico de procesamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historico de procesamiento</h2>

<br />
<br />

@Html.Grid(Model).Columns(columns => {
        columns.Add(c => c.Id).Titled("Id");
        columns.Add (c => c.Version).Titled("Version");
        columns.Add(c => c.DateStarted).Titled("Fecha Inicio");
        columns.Add (c => c.DateFinished).Titled("Fecha Fin");
        columns.Add (c => c.Message).RenderValueAs(job => string.IsNullOrEmpty (job.Message) ? "-" : job.Message).Titled ("Mensaje");
        columns.Add (c => c.Status).Encoded (false).Sanitized (false).RenderValueAs (job => {
            if(job.Status == DataGenerationJobStatus.Pending) {
               return  @<img class="thumb" src="~/Images/job-pending.png" height="20" width="20" alt="Pendiente" />;
            } else if (job.Status == DataGenerationJobStatus.InProgress) {
                return @<img class="thumb" src="~/Images/job-processing.png" height="20" width="20" alt="En Proceso" />;
            } else if (job.Status == DataGenerationJobStatus.Completed) {
                return @<img class="thumb" src="~/Images/job-completed.png" height="20" width="20" alt="Completo" />;
            } else {
                return @<img class="thumb" src="~/Images/job-error.png" height="20" width="20" alt="Error" />;
            }
        }).Titled("Estado")";
		//.Style("text-align: center;")
    }).WithPaging(pageSize: 10).Sortable(enable: true)
