@{
    ViewBag.Title = "Anmat Manager";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Sitio de administracion de Anmat Vademecum
            </p>
        </div>
    </section>
}
<h3>Desde aqui podra realizar lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Actualizacion de datos</h5>
        Subiendo los archivos de Medicamentos y Principios Activos, se generara una nueva 
        base de datos que estara disponible para la actualizacion desde cada cliente de VNM,
        al poco tiempo de ser subida a traves de este sitio
    </li>

    <li class="two">
        <h5>Monitoreo y seguimiento de actualizaciones</h5>
        Podra verse un historico de las actualizaciones de datos, estado y mensajes importantes.
        Tambien puede verse el estado de la actualizacion en curso, en caso de haber alguna
    </li>
</ol>
