<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AnmatDataServiceUrl" value="http://localhost:8000/" />
    <add key="DocumentsPath" value="C:\Anmat\Data" />
    <add key="TargetDatabaseName" value="anmat" />
    <add key="TargetMedicinesTableName" value="medicamentos" />
    <add key="TargetActiveComponentsTableName" value="principio_activo" />
    <add key="TargetGroupsTableName" value="grupo" />
    <add key="TargetPregnancyComponentsTableName" value="grupo_principio_emb" />
    <add key="ReplaceExistingTargetDatabase" value="true" />
    <add key="FullInitialize" value="false" />
    <add key="DefaultCulture" value="es-AR" />
    <add key="DefaultTextEncoding" value="ISO-8859-1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>