<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkupstudios.anmat.vademecum" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".aplicacion.MiAplicacion"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".DetalleMedicamentoListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".DetalleMedicamentoDetailActivity"
            android:label="@string/title_detallemedicamento_detail"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".BusquedaMedicamentoActivity"
            android:label="@string/title_activity_busqueda_medicamento"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".DetalleCategoriaActivity"
            android:label="@string/title_activity_detalle_principio_activo"
            android:parentActivityName=".MainMenuActivity" />

        <activity
            android:name=".AcercaDeActivity"
            android:label="@string/title_activity_ecerca_de"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".InformacionActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".BuscarPrincipioActivoActivity"
            android:label="@string/title_activity_buscar_principio_activo"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
        <activity
            android:name=".DetallePrincipioActivoActivity"
            android:label="@string/title_activity_detalle_principio_activo"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
        <activity
            android:name=".UpdateDBActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/splashScreenTheme"
            android:noHistory="true"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:theme="@style/splashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
